.list-group-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

input[type="radio"] {
    transform: scale(1.3);
}

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}
